@charset "ISO-8859-1";


@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Funnel Sans", sans-serif;
     font-optical-sizing: auto;
    font-weight: 100;
     font-style: normal;
    
}
:root
{
    --azulOscuro: #326273;
    --celestito: #7EA8BE;
    --aquamarine: #A4F9C8;
    --iceblue: #A7FFF6;
    --indigo:#133C55;
    --riceblue:#386FA4;
}
body
{
    display: grid;
    grid-template-columns: auto 1fr;
    overflow: visible;
}
#sideBar{
	top:0;
    background-color: var(--azulOscuro);
    width: 15vw;
    height: 100vh;
    min-width: 80px;
    display: flex;
    flex-direction: column;
    position:sticky;
}
.sidebar
{
    padding: 0;
    list-style: none;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}
@media (max-width:780px) {
    .sideContainer
    {
        background-color: aqua;
    }
    span
    {
        display: none;
        padding: 0;
    }
    #brand
    {
        margin-left: 10px;
        justify-content: flex-end;
    }
}

#brand
{
    padding: 1em;
    color: white;
    font-weight: 600;
    overflow: hidden;
}
.logoImg
{
    width: 3em;
    height: 3em;
    border-radius: 15px;
}
.sideItem
{
    
    display: inline-block;
    margin: 8px;
}
#brand
{
    margin-bottom: 100px;
    display:flex;
    align-items: center;
}
.sideItem:last-child
{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    gap: 15px;
    color: white;
    background-color: var(--riceblue);
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    
}
.sideLink:hover
{
    background-color: var(--indigo);
}
.sideImg
{

    width: 1.5em;
    height: 1.5em;
}
span
{
    padding-left: 10px;
}
.sideLink
{
    display: flex;
    text-decoration: none;
    color: white;
    padding: 5px 30px;
}
.sideUser
{
    display: flex;
    text-decoration: none;
    color: white;
    padding: 5px 30px;
}
.sideLink.focus
{
    border-radius: 30px;
    background-color: var(--indigo);
    transition: 500ms;
}
footer
{
    background-color: green;
}
