@charset "ISO-8859-1";

.mainContainer
{
    background-color: gray;
    width: 70vw;
}
.main-content
{
	display:flex;
	flex-direction: column;
	flex-grow: 1;
    padding: 20px;
    background-color:#e7e7e7;
    gap: 20px;
}
	.btnModificar
	{
		  background-color: blue; 
		  border: none;
		  color: white;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 16px;
		margin-bottom: 3px;
		width: 100px;
		height: 40px;
	}
	.btnBorrar
	{
		 background-color: red; 
		  border: none;
		  color: white;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 16px;
		margin-bottom: 3px;
		width: 100px;
		height: 40px;
	}
	.btnBuscar
	{
		height: 40px;
		width: 85px;
		background-color: #D0D0D0;
	}
		.btnAgregar
	{
	  background-color: #04AA6D; /* Green */
		  border: none;
		  color: white;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 16px;
		margin-bottom: 10px;
		width: 100px;
		height: 40px;
	}
	fieldset
	{
		width: 30vw;
		display:flex;
		flex-direction:column;
		gap:5px;
		background-color:white;
		box-shadow: 0px 6px 7px -3px rgba(0,0,0, 0.6);
	}
	.container
	{
		display:flex;
		justify-content: space-around;
	}
	.txt
	{
		width:20vw;
		height:1.5em;
		font-size: 18px;
	}
	.contenedor
	{
		padding: 1em;
		border-witdh: 1px;
		background-color: white;
		box-shadow: 0px 4px 5px -3px rgba(0,0,0, 0.6);
	}
	.poner-columnas
	{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	}
	.uno{grid-column:1;}
	.dos{grid-column:2;}
	h1{font-weight: 400;}
	