@charset "ISO-8859-1";

.mainContainer
{
    background-color: gray;
    width: 70vw;
}
.main-content
{
	display:flex;
	flex-direction: column;
	flex-grow: 1;
    padding: 20px;
    background-color:#e7e7e7;
    gap: 20px;
}
.btn
{
		box-shadow: 0px 4px 5px -3px rgba(0,0,0, 0.6);
		
		height: 40px;
	 	 border: none;
		  color: white;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 16px;
		  padding:10px
}
.bchico{width:100px;}
.bmediano{width: 150px;}
.botonera{display:flex;justify-content:center;gap:20px;}
	.btn:hover{cursor: pointer;}
	.btnAzul{background-color: var(--riceblue);}
	.btnRojo{ background-color: #E30808; color: white; }
	.btnBuscar{height: 40px;width: 85px;background-color: #D0D0D0;}
	.btnVerde{background-color: #04AA6D; /* Green */}
	.botonesHoras{ width: 100%;        /* ocupa todo el ancho de la columna */
				  display: flex;
				  flex-wrap: wrap;    /* permite que los botones se acomoden en varias filas */
				  gap: 8px;           /* espacio entre botones */
				  box-sizing: border-box;}
					
	fieldset
	{
		display:flex;
		flex-direction:column;
		gap:5px;
		background-color:white;
		border-style:none;
		padding:10px;
	}
	.container
	{
		display:flex;
		justify-content: space-around;
	}
	.txt
	{
		
		height:1.5em;
		font-size: 18px;
	}
	.contenedor
	{
		padding: 1em;
		border-witdh: 1px;
		background-color: white;
		box-shadow: 0px 4px 5px -3px rgba(0,0,0, 0.6);
	}
	.poner-columnas
	{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	}
	.uno{grid-column:1;
	overflow: hidden;
  	word-wrap: break-word;}
	.dos{grid-column:2;}
	h1{font-weight: 400;}
	
	.columnas-workplace
	{
		display:grid;
		grid-template-columns: 22% 1fr;
	}
	.cards
	{
		displayy:flex;
		flex-direction:column;
		height: 100%;
		gap: 20px;
	}
	.card
	{
		display:grid;
		grid-template-columns: 1f 100px;
	}
	
	.tabla
	{
		font-size: 20px;
		min-width: 100%;
		border-bottom:  2px solid var(--riceblue);
		 border-collapse: collapse;
	}
	.tabla thead tr
	{
		background-color: var(--riceblue);
		color: white;
		text-align: left;
	}
	.tabla th, td
	{
		padding: 10px;
	}
	.tabla tbody tr td 
	{
		border: 1px solid black;
	}
	textarea
	{
		width: 100%;
		min-height: 250px;
		box-sizing: border-box;
		font-size: 16px;
		border: 1px solid gray;
	}
	.fondoAzul
	{
		background-color: var(--riceblue);
		color: white;
		text-align: left;
		font-size: 20px;
		padding: 10px;
	}
	.fondoCard
	{
		text-align: left;
		font-size: 20px;
		padding: 10px;
		color: white;
	}
	.colorAzul{background-color: var(--riceblue);};
	.colorMenosAzul{background-color: var(--indigo);}
	.fondo100{width:100%;}
	.contentLabel{font-size: 20px;}
	.infoTurno{min-width: 200px;}
	.btnCard
	{
	height: 100%;
	text-align: center;
	vertical-align: middle; 
  	display: inline-block;
	}
	.cards .card:nth-child(odd)
	{
		background-color: var(--indigo);
	}
	.cards .card:nth-child(even) .btnCard
	{
		background-color: var(--indigo);
	}
	.sInforme
	{
		height: 30px;
		font-size: 16px;
		background-color:#BDECFF;
		color: #007EA7;
		font-weight: 600;
		border-color: #007EA7;
		border-radius:2px;
		float: right;
	}
	.horario
	{
		border: 1px solid grey;
	}
	.label-horario{min-width: 2000px;}

	